
body {
    background-color: beige;
}

#nav {
    width:750px;
    margin:0 auto;
    list-style:none;
    }
    #nav li {
    float:left;
    }
    #nav a {
    display:block;
    text-align:center;
    width:150px; /* fixed width */
    text-decoration:none; 
    }

    div.a {
        text-align: center;
      }
      
      div a{
          padding: 0px;
      }

    div.heading1 {
        font-family: 'Montserrat', sans-serif;
    }